# Virtual Environment
.venv/
venv/
ENV/

# Secrets and Configurations
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Databases and Local Vector Storage
vector_db/
*.pdf

# OS-specific files
.DS_Store
Thumbs.db
